@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amatic+SC&family=Cormorant:ital,wght@0,300;1,300&family=Dancing+Script:wght@500&family=El+Messiri&family=IBM+Plex+Mono:wght@500&family=Inconsolata:wght@400;500&family=Libre+Bodoni&family=Poppins:wght@400;700&family=Rajdhani&family=Roboto:wght@100&family=Sacramento&family=Source+Serif+Pro:wght@200&family=Tai+Heritage+Pro&family=Tapestry&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{display: flex;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}
.box{padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 600px;
    min-height: 500px;

    /* background-color: #8EC5FC; */
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    border-radius: 5px;
}

#item{
    
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    width: 100%;

}
#to-do-box{
    margin-top: 20px;
    list-style: none;


}

#to-do-box li{ padding: 10px;
position: relative;
margin: 10px;
    font-size: 20px;
    ;
    background-color: rgb(11, 9, 45);
    color: white;
}
#to-do-box li i{
    top: 10px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.done{
    text-decoration: line-through;
    color: black;
    background-color: #fff;
}

#head{
    font-size: 60px;
    font-weight: bolder;

}

#head1{
    padding-bottom: 30px;
}

@media only screen and (max-width:600px) {
    .box{
        height: 100vh;
    }
    
}


